.wrapper {
    display: flex !important;
    flex-direction: row !important;
    min-height: 100vh !important; 
  }

  .page-main {
    flex-grow: 1 !important;
  }
  .firstCol {
    background-color: #1e2124 !important;

  }
  .secondCol {
    background-color: #282b30 !important;
    padding: 0px !important;

    display: flex !important;
    flex-direction: column !important;

    flex-wrap: wrap !important;
  }
  .thirdCol {

    flex-grow: 1;
  }
